.addjob {
  background-color: green;
}
.example-card {
  background-color: lightblue;
}
.position-card {
  background-color: rgb(212, 237, 162);
}
.remove-job {
  width: fit-content;
  background-color: red;
  align-self: start;
}
